#root > div > div:nth-child(3) > div:nth-child(5) > div > div:nth-child(2) > div > div:nth-child(1) > div > div.MuiDataGrid-mainGridContainer > div.MuiDataGrid-columnsContainer > div > div.MuiDataGrid-colCell.MuiDataGrid-colCellCheckbox.MuiDataGrid-colCellCenter > div.MuiDataGrid-colCell-draggable > span > span.MuiIconButton-label {
    display: none;

}

  #parentDiv > div:nth-child(1) {
    height: auto!important;

  }
  #parentDiv {
    cursor: pointer;
  }